.wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap:10px;
    margin-top: 10rem;
}


#title{
    background: #F1F4F4;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: "Arial Black";
    height: 46px;
    text-align: center;
    position: absolute;
    width: 620px;

}

body {
   display: flex;
   background-color: beige;
   justify-content: center;
}

.front,
.back{
    height: 200px;
    width: 200px;
    font-size: 2rem;
    align-items: center;
    display: grid;
    justify-content: center;
    font-family: "Arial";
    position: absolute;
}

.front {
    background: #444;
    color: lightskyblue;
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background: #777;
    color: #fff;
    z-index: 1;
    transform: rotateY(180deg);
}

.questionCard {
    position: relative;
    align-items: center;
    background: #222;
    color: darkblue;
    display: grid;
    justify-content: center;
    font-family: "Arial";
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.questionCard:hover{
    transform: rotateY(180deg);
}

.questionCard{
    perspective: 1000px;
}
